header{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 15%;
}
header nav{
    display: flex;
    gap: 1rem;
}
header a{
    text-decoration: none;
    color: #5D2A13;
    font-size: 2rem;
}
header a:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #504d49;
}
p, h1{
    font-weight: bold;
    color: #504d49;
}