<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca Escolar - Acervo</title>
  <link rel="icon" href="../img/ico_BE.png">

  <link rel="stylesheet" href="../styles/global/sty_allPage.css">
  <link rel="stylesheet" href="../styles/global/sty_header.css">
  <link rel="stylesheet" href="../styles/global/sty_login.css">
  <link rel="stylesheet" href="../styles/sty_library.css">
</head>
<body>
    <dialog class="modalSpace"></dialog>
  <!-- o modal é criado dinamicamente no JS -->
  
  <header>
    <img src="../img/ico_BE.png" alt="Ícone Biblioteca Escolar">
    <nav>
      <a href="../index.html">Início</a>
      <a href="#" id="meusEmprestimosBtn">Meus Empréstimos</a>
      <a href="../templates/abount.html">Projeto</a>
    </nav>
  </header>
  
  <main>
    <h1 class="title">Acervo da Biblioteca</h1>
    
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Pesquisar por título, autor ou gênero...">
      <button id="searchBtn">Buscar</button>
    </div>
    
    <div class="books-section">
      <div class="book-list" id="bookList">
        <!-- Livros inseridos dinamicamente -->
      </div>
    </div>
  </main>
  
  <script type="module" src="../scripts/scr_library.js"></script>
  <script type="module" src="../scripts/scr_login.js"></script>
 <!--
  <script src="https://kit.fontawesome.com/a2e0b3e6bb.js" crossorigin="anonymous"></script>
  -->
</body>
</html>
